.jumbotron {
  background-image: url(/img/gift2.png);
  background-size: cover;
  height: 650px;
  background-attachment: fixed;
}

.pesawat {
  height: 60px;
}

.btn {
  margin-top: -30px;
}

img {
  padding-top: 0px;
}

p {
  margin-top: 200px;
  font-size: xx-small;
  color: black;
}
