html {
  position: relative;
}

body {
  margin-bottom: 100px;
}

.pembuka {
  margin-top: -10px;
  color: black;
}

.Salam hr {
  width: 150px;
}

.Salam img {
  padding-top: 7px;
  padding-bottom: 20px;
  width: 320px;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

.gaberasaya img {
  height: 200px;
}

.Biasanya img {
  height: 300px;
}

.Merasatidak img {
  height: 200px;
}

.Jika_kamu img {
  width: 280px;
}

.Tapi_teman img {
  height: 250;
}

.Karena {
  height: 300px;
}

section {
  text-align: center;
}

.Pesan img {
  height: 200px;
}

.Dan_Ku_Ucapakan img {
  width: 320px;
}

.dan_jika img {
  width: 250px;
}

.Danjika img {
  width: 250px;
}

.Karena img {
  width: 200px;
}

a {
  color: white;
}

/* ========= Parallax ========= */

.Salam {
  opacity: 0;
  transition: 1s;
  transform: translate(-40px, 0);
}

.Salam.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.gaberasaya {
  opacity: 0;
  transition: 2s;
  transform: translate(40px, 0);
}

.gaberasaya.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.Biasanya {
  opacity: 0;
  /* transition: 2s; */
  transform: translate(0, -40px);
}

.Biasanya.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Merasatidak {
  opacity: 0;
  transform: translate(0, 40px);
}

.Merasatidak.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Jika_kamu {
  opacity: 0;
  transform: translate(-40px, 0);
}

.Jika_kamu.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.menyesakkan {
  opacity: 0;
  transform: translate(-40px, 0);
}

.menyesakkan.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Tapi_teman {
  opacity: 0;
  transform: translate(40px, 0);
}

.Tapi_teman.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Karena {
  opacity: 0;
  transform: translate(0, 40px);
}

.Karena.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Pesan {
  opacity: 0;
  transform: translate(40px, 0);
}

.Pesan.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.dan_jika {
  opacity: 0;
  transform: translate(0, 40px);
}

.dan_jika.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.Danjika {
  opacity: 0;
  transform: translate(0, -40px);
}

.Danjika.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.berjuang {
  opacity: 0;
  transform: translate(-40px, 0);
}

.berjuang.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.share {
  opacity: 0;
  transform: translate(40px, 0);
}

.share.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

/* .Dan_Ku_Ucapakan {
  opacity: 0;
  transform: translate(-40px, 0);
}

.Dan_Ku_Ucapakan.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
} */

.Dipersembahkanoleh {
  opacity: 0;
  transform: translate(0, 40px);
}

.Dipersembahkanoleh.muncul {
  opacity: 1;
  transition: 2s;
  transform: translate(0, 0);
}

.footer1 {
  margin-bottom: -20px;
  /* height: 200px; */
  width: 100%;
}

footer {
  background-color: #0099ff;
  margin-bottom: -100px;
  height: 100px;
}
footer p {
  margin-top: 30px;
  color: white;
}
