.jumbotron {
  background-image: url(/img/gift2.png);
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
}

img {
  padding-top: 0px;
}

p {
  font-size: xx-small;
  color: black;
}

.wl {
  color: white;
  font-family: sans-serif;
}
